@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jost: "Jost", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Jost", Arial, Helvetica, sans-serif;

  text-shadow: var(--text-shadow-lg);
}

.my-gray-bg {
  @apply text-white rounded-2xl bg-gradient-to-tr px-46;
  /* @apply dark:from-gray-800 dark:via-gray-600 dark:to-gray-800; */
  @apply from-gray-200 via-gray-500 to-gray-200;
  /* @apply mask-y-from-92% mask-y-to-98% mask-x-from-92% mask-x-to-99%; */
}

.my-white-bg {
  @apply text-black rounded-2xl px-46;
}
